<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>collection</title>
    {% load static %}
</head>
<body>
<h1>My collection</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid blanditiis commodi dolorum earum error id inventore ipsum, minima nemo nostrum officia provident quam, totam ullam vero voluptas? Beatae, laboriosam!</p>


<img src="{% static 'Assets/car1.jpeg' %}" alt="">
<img src="{% static 'Assets/car2.jpeg' %}" alt="">
<img src="{% static 'Assets/car3.jpeg' %}" alt="">
<img src="{% static 'Assets/car4.jpeg' %}" alt="">
<img src="{% static 'Assets/car5.jpeg' %}" alt="">
<img src="{% static 'Assets/car6.jpeg' %}" alt="">

</body>
</html>